In [5575]:
#Reading the file
import pandas as pand
faculty = pand.read_csv("SIS_Faculty_List.csv")


faculty

,ID,Name,Location,Grade,Title,Join\nDate,LWD,Type,Divison,Reports To,Highest\nQualification\nLevel,Highest Qualification,Major,University,All Qualifications from Profile,Courses Taught- Term 201510,MAJOR TEACHING FIELD,DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications,Criteria
0,LT9210743,Jim Hunter,London,FA,Faculty - Business,29-Aug-10,NaN,Full Time,Business,Abbas Houda,Masters,Master of Arts,International Affairs,American University of Beirut,"Bachelor of Science (Communications), Master o...",BUS2403 - Innovation & Entrepreneurship\nBUS20...,Business Administration,"10+ Years Small Business Ownership, 10+ Years ...",Industry & Teaching experience
1,LT9001784,Jose Nadal,London,FA,Faculty - Business,19-Aug-99,NaN,Full Time,Business,Abbas Houda,Masters,Master of Science,Business Info. Technology,University of Northumbria,"Bachelor of Arts (Finance), Certificate (Manag...",BUS4173 - Managerial Accounting II\nBUS4916 - ...,Business,years of teaching experience: 17 ...,Certification
2,LT9062955,Pierre Cornet,London,FA,Faculty - Business,08-Apr-07,NaN,Full Time,Business,Abbas Houda,Masters,Master of Business Administrat,Marketing,Griffith University,"Certificate (Educating/Teaching Adult), Associ...",BUS3903 - Contemporary Business\nBUS1303 - Mar...,Marketing and Strategic Management,Years of teaching experience: 15\nYears of pro...,Industry & Teaching experience
3,0,Sally Smith,London,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Abbas Houda,Ph.D,Ph.D in HRM/ Organizational pyschology,HRM/ Organizational Psychology,"The University of Swansea, UK","Bachelor(finance & Mgt), Masters(MBA & Masters...","HRM, Organizational behaviour, Strategic Mgt, ...",HRM,6 years professional experience + 6 years teac...,Researcher
4,0,Ned Shearer,London,Chair,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Tony Emmanuel,Ph.D,Ph.D in Economics and International Business,Economics and International Business,"New York University, USA","Bachelor( Economics), Masters( Economics and I...","Micro and Macroeconomics, Statistics,Introduct...",Economics and International Business,1 year professional experience + 24 years teac...,Researcher/Curriculum Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,0,Cami Wiegand �,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Economics and Business,Economics,"South East European University, Macedonia","Bachelor( Political Science), Masters( Europea...","intro to Economics, EU laws and Regulations, O...","Economics, policy and general business course",9 years professional experience+ 11 years teac...,Researcher
280,0,Alan Sheely �,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Management Science,Marketing,"University of Economics, Krakow, Poland","Bachelor( Foreign Languages), Masters( America...","Marketing Management, Marketing Research, Cons...",Marketing,16 years professional( consulting) experience ...,Researcher/Curriculum Development
281,0,Allison Gall �,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,HRM,"University of Mauritus, Mauritus","Bachelor( Economics), Masters( Industrial Rela...","HRM, SHRM, Performance and Reward Mgt, Researc...",HRM,14 years professional experience + 9 years tea...,Certification/Researcher
282,0,Myles Tena �,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D,Economic Sociology,"University of San Paulo, Brazil","Bachelor(Economics), Masters( Industrial Engin...",Economics and Management,"Financial Mgt, Project Mgt, Entrepreneurial Fi...",12 years professional experience + 11 years te...,Researcher
283,0,Dessie Burruss �,Cambridge,FA,Faculty - Business,14-Aug-16,NaN,Full Time,Business,Olu Ebenezer,Ph.D,Ph.D in Public Policy and Administration,Management and Financial Mgt,"Virginia Commonwealth University, USA","Bachelor( Civil Engineering), Masters(Civil En...","Leadership, Organizational Design and Behaviou...",Finance and Management,16 years professional experience +11 year teac...,Researcher

In [5576]:
#identifying the columns
display_columns = faculty.columns.to_list()
no_of_cols = faculty.shape[1]
print(no_of_cols)
display_columns

19

['ID',
 'Name',
 'Location',
 'Grade',
 'Title',
 'Join\nDate',
 'LWD',
 'Type',
 'Divison',
 'Reports To',
 'Highest\nQualification\nLevel',
 'Highest Qualification',
 'Major',
 'University',
 'All Qualifications from Profile',
 'Courses Taught- Term 201510',
 'MAJOR TEACHING FIELD',
 'DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications',
 'Criteria']

In [5577]:
#check column duplicates
duplicates = faculty.columns.duplicated()
duplicates

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [5578]:
#dropping irrelevant droppings

new_dataset = faculty.drop(["LWD","All Qualifications from Profile","DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications"],axis=1)
new_dataset.to_csv("NEW_SIS_Faculty_List.csv")
no=new_dataset.shape[1]
print("The remaining columns are",no,"from 19",sep=" => ")

The remaining columns are => 16 => from 19

In [5579]:
#Renaming columns
new_dataset.rename(columns={"Title":"Faculty_Title"},inplace=True)
new_dataset.rename(columns={"Type":"Study_Type"},inplace=True)
#new_dataset.rename(columns={"DOCUMENT OTHER PROFESSIONAL CERTIFICATION CRITIERA Five Years Work Experience Teaching Excellence Professional Certifications":"Certifications"},inplace=True)
new_dataset.to_csv("renewed.csv")
sis_faculty = pand.read_csv("renewed.csv")

In [5580]:
#Individual Column Analysis
 


#ID Column
records = sis_faculty["ID"] 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------ID Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------ID Column----------------------------
The Total duplicated record is ========> 40
The total missing values is ========> 2

In [5581]:
#Name Column
records = sis_faculty["Name"] 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Name Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Name Column----------------------------
The Total duplicated record is ========> 2
The total missing values is ========> 0

In [5582]:
#Location Column
records = sis_faculty["Location"]
records.to_csv("null.csv") 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Location Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Location Column----------------------------
The Total duplicated record is ========> 267
The total missing values is ========> 14

In [5583]:
#Grade Column
records = sis_faculty["Grade"] 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Grade Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Grade Column----------------------------
The Total duplicated record is ========> 282
The total missing values is ========> 0

In [5584]:
#Faculty Title Column
records = sis_faculty["Faculty_Title"] 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Faculty_Title Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Faculty_Title Column----------------------------
The Total duplicated record is ========> 272
The total missing values is ========> 0

In [5585]:
#Date Column
records = sis_faculty["Join\nDate"] 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Join Date Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Join Date Column----------------------------
The Total duplicated record is ========> 140
The total missing values is ========> 1

In [5586]:
#Study_Type Column
records = sis_faculty["Study_Type"] 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Study_Type Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Study_Type Column----------------------------
The Total duplicated record is ========> 283
The total missing values is ========> 0

In [5587]:
#Divison Column
records = sis_faculty["Divison"] 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Divison Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Divison Column----------------------------
The Total duplicated record is ========> 283
The total missing values is ========> 0

In [5588]:
#Reports To Column
records = sis_faculty["Reports To"] 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Reports To Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Reports To Column----------------------------
The Total duplicated record is ========> 268
The total missing values is ========> 4

In [5589]:
#Highest\nQualification\nLevel Column
records = sis_faculty["Highest\nQualification\nLevel"] 
#records.to_csv("null.csv")
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Highest Qualification Level Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Highest Qualification Level Column----------------------------
The Total duplicated record is ========> 265
The total missing values is ========> 6

In [5590]:
#Highest Qualification

records = sis_faculty["Highest Qualification"]
#records.to_csv("null.csv") 
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Highest Qualification Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Highest Qualification Column----------------------------
The Total duplicated record is ========> 224
The total missing values is ========> 6

In [5591]:
#Major

records = sis_faculty["Major"] 
#records.to_csv("null.csv")
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Major Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Major Column----------------------------
The Total duplicated record is ========> 168
The total missing values is ========> 22

In [5592]:
#University

records = sis_faculty["University"] 
records.to_csv("null.csv")
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------University Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------University Column----------------------------
The Total duplicated record is ========> 69
The total missing values is ========> 6

In [5593]:
#Courses Taught- Term 201510

records = sis_faculty["Courses Taught- Term 201510"] 
records.to_csv("null.csv")
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Courses Taught- Term 201510 Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Courses Taught- Term 201510 Column----------------------------
The Total duplicated record is ========> 14
The total missing values is ========> 11

In [5594]:
#MAJOR TEACHING FIELD

records = sis_faculty["MAJOR TEACHING FIELD"] 
records.to_csv("null.csv")
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------MAJOR TEACHING FIELD Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------MAJOR TEACHING FIELD Column----------------------------
The Total duplicated record is ========> 140
The total missing values is ========> 59

In [5595]:
#Criteria

records = sis_faculty["Criteria"] 
records.to_csv("null.csv")
duplicates = records.duplicated()

s=duplicates.sum()
print("------------------------------Criteria Column----------------------------")
print("The Total duplicated record is",s,sep=" ========> ")
nullvalues = records.isnull().sum()
print("The total missing values is",nullvalues,sep=" ========> ")
#observe for outliers

------------------------------Criteria Column----------------------------
The Total duplicated record is ========> 276
The total missing values is ========> 0

In [5596]:
#1. Changing the null values to a dummy value

sis_faculty["Location"] = sis_faculty["Location"].fillna(value=5)
records = sis_faculty["Location"]
duplicate=records.isnull().sum()
print("The total missing values in Location is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in Location is ========> 0

In [5597]:
#2. Changing the null values to a dummy value

sis_faculty["ID"] = sis_faculty["ID"].fillna(value=5)
records = sis_faculty["ID"]
duplicate=records.isnull().sum()
print("The total missing values in ID is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in ID is ========> 0

In [5598]:
#3. Changing the null values to a dummy value

sis_faculty["Join\nDate"] = sis_faculty["Join\nDate"].fillna(value=5)
records = sis_faculty["Join\nDate"]
duplicate=records.isnull().sum()
print("The total missing values in Join\nDate is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in Join
Date is ========> 0

In [5599]:
#4. Changing the null values to a dummy value

sis_faculty["Reports To"] = sis_faculty["Reports To"].fillna(value=5)
records = sis_faculty["Join\nDate"]
duplicate=records.isnull().sum()
print("The total missing values in Reports To is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in Reports To is ========> 0

In [5600]:
#5. Changing the null values to a dummy value

sis_faculty["Highest\nQualification\nLevel"] = sis_faculty["Highest\nQualification\nLevel"].fillna(value=5)
records = sis_faculty["Highest\nQualification\nLevel"]
duplicate=records.isnull().sum()
print("The total missing values in Highest Qualification Level is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in Highest Qualification Level is ========> 0

In [5601]:
#6. Changing the null values to a dummy value

sis_faculty["Highest Qualification"] = sis_faculty["Highest Qualification"].fillna(value=5)
records = sis_faculty["Highest Qualification"]
duplicate=records.isnull().sum()
print("The total missing values in Highest Qualification is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in Highest Qualification is ========> 0

In [5602]:
#7. Changing the null values to a dummy value

sis_faculty["Major"] = sis_faculty["Major"].fillna(value=5)
records = sis_faculty["Major"]
duplicate=records.isnull().sum()
print("The total missing values in Major is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in Major is ========> 0

In [5603]:
#8. University

sis_faculty["University"] = sis_faculty["University"].fillna(value=5)
records = sis_faculty["University"]
duplicate=records.isnull().sum()
print("The total missing values in Major is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in Major is ========> 0

In [5604]:
#8. Courses Taught- Term 201510

sis_faculty["Courses Taught- Term 201510"] = sis_faculty["Courses Taught- Term 201510"].fillna(value=5)
records = sis_faculty["Courses Taught- Term 201510"]
duplicate=records.isnull().sum()
print("The total missing values in Major is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in Major is ========> 0

In [5605]:

#8. MAJOR TEACHING FIELD

sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].fillna(value=5)
records = sis_faculty["MAJOR TEACHING FIELD"]
duplicate=records.isnull().sum()
print("The total missing values in Major is",duplicate,sep=" ========> ")
sis_faculty.to_csv("renewed.csv")

The total missing values in Major is ========> 0

In [5606]:
# 1. ID

#Replacing the ZERO values...... 0 => LT0000000

sis_faculty.loc[sis_faculty["ID"] == "0", "ID"] = "LT0000000"
sis_faculty.loc[sis_faculty["ID"] == 5, "ID"] = "LTWASNULLL"
sis_faculty= sis_faculty.drop(["Unnamed: 0"],axis=1)
Col_update=sis_faculty["ID"]
Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5607]:
# 2. Name

#Solving for outliers

sis_faculty["Name"] = sis_faculty["Name"].str.replace("�", "")
Col_update=sis_faculty["Name"]
Col_update.to_csv("Column_records_Updated.csv")
sis_faculty.to_csv("renewed.csv")

In [5608]:
# 3. Location

#Solving for NullValues

sis_faculty.loc[sis_faculty["Location"] == 5, "Location"] = "Kenya"
Col_update=sis_faculty["Location"]
Col_update.iloc[Col_update[45]=="Kenya",45]="London"
Col_update.iloc[Col_update[46]=="Kenya",46]="south Africa"
Col_update.iloc[Col_update[47]=="Kenya",47]="Canada"
Col_update.iloc[Col_update[48]=="Kenya",48]="United Kingdom"
Col_update.iloc[Col_update[49]=="Kenya",49]="America"
Col_update.iloc[Col_update[50]=="Kenya",50]="America"
Col_update.iloc[Col_update[51]=="Kenya",51]="Cyprus"
Col_update.iloc[Col_update[52]=="Kenya",52]="Singapore"
Col_update.iloc[Col_update[53]=="Kenya",53]="America"
Col_update.iloc[Col_update[54]=="Kenya",54]="Malaysia"
Col_update.iloc[Col_update[55]=="Kenya",55]="Italy"
Col_update.iloc[Col_update[56]=="Kenya",56]="France"
Col_update.iloc[Col_update[57]=="Kenya",57]="France"
Col_update.iloc[Col_update[58]=="Kenya",58]="America"

Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5609]:
# 4. Grade

#Solving for Outlier

sis_faculty.loc[sis_faculty["Grade"] == "Chair", "Grade"] = "FSA"
Col_update=sis_faculty["Grade"]
Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5610]:
# 5. Faculty_Title

#Solving for Outlier

#sis_faculty.loc[sis_faculty["Faculty_Title"] == "Adjunct Faculty - Business", "Faculty_Title"] = ""
sis_faculty.loc[sis_faculty["Faculty_Title"] == "Business, Comp & Math Faculty", "Faculty_Title"] = "Faculty - Business, Comp & Math"
sis_faculty.loc[sis_faculty["Faculty_Title"] == "Graduate Trainee", "Faculty_Title"] = "Faculty - Trainee"
Col_update=sis_faculty["Faculty_Title"]
Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5611]:
# 6. Date

#Solving for NullValues replace with current date

sis_faculty.loc[sis_faculty["Join\nDate"] == 5, "Join\nDate"] = "5-JuL-24"
Col_update=sis_faculty["Join\nDate"]
Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5612]:
# 7. Study_Type

#No change


Col_update=sis_faculty["Study_Type"]
Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5613]:
# 8. Divison

#No change


Col_update=sis_faculty["Divison"]
Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5614]:
# 9. Reports To

#Solving for NullValues replace with John Mwangi

sis_faculty.loc[sis_faculty["Reports To"] == 5, "Reports To"] = "John Mwangi"
Col_update=sis_faculty["Reports To"]
Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5615]:
# 10. Highest\nQualification\nLevel

#Solving for NullValues replace with Masters

sis_faculty.loc[sis_faculty["Highest\nQualification\nLevel"] == 5, "Highest\nQualification\nLevel"] = "Masters"

#Solve for outliers
sis_faculty.loc[sis_faculty["Highest\nQualification\nLevel"].isin([
    "MBA in Banking & Finance",
    "Doctor of Jurisprudence Degree",
    "Master of International Business",
    "Ph.D in Organization and Management ",
    "Master of Business Administration (MBA) and MA (Economics)",
    "Bachelor (Applied Science) in Business administration( Human Resources )",
    "Masters (Business Administration), Master of Philosophy (Business)",
    "PhD Corporate Governance and Accounting",
    "Master's Degree in Public Relations and Press Office Management",
    "Maters of Philosophy (Economics)",
    "�Ph. D. (Business Administration)",
    "�Doctorate of Business Administration",
    "Ph.D (Economics)"
]), "Highest\nQualification\nLevel"] = [
    "Masters",
    "Masters",
    "Masters",
    "Ph.D",
    "Masters",
    "Masters",
    "Masters",
    "Ph.D",
    "Masters",
    "Masters",
    "Ph.D",
    "Doctorate",
    "Ph.D"
]
Col_update=sis_faculty["Highest\nQualification\nLevel"]
Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5616]:
# 11. Highest Qualification

#Solving for NullValues replace with Master of Business Administration

sis_faculty.loc[sis_faculty["Highest Qualification"] == 5, "Highest Qualification"] = "Master of Business Administration"


#Solve for outliers
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Ph.D", "Highest Qualification"] = "Ph.D in Business Administration"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Masters", "Highest Qualification"] = "Master of Business Administration"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Bachelor", "Highest Qualification"] = "Bachelor of Business Administration"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Doctorate in Business Admin", "Highest Qualification"] = "Doctorate in Business Administration"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Doctorate", "Highest Qualification"] = "Doctorate in Business Administration"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Master of Business Administrat", "Highest Qualification"] = "Master of Business Administration"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "MBA", "Highest Qualification"] = "Master of Business Administration"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Executive MBA", "Highest Qualification"] = "Master of Business Administration"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "MA in Accounting", "Highest Qualification"] = "Master of Accounting"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Master of", "Highest Qualification"] = "Master of Accounting"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "MA International Business", "Highest Qualification"] = "Master of International Business"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Masters of Distance Education", "Highest Qualification"] = "Master of Distance Education"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "International Business &Market", "Highest Qualification"] = "Bachelor of International Business &Market"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Bachelor (Applied Science) in Business administration( Human Resources )", "Highest Qualification"] = "Bachelor of (Applied Science) in Business administration( Human Resources )"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "MA in Teaching", "Highest Qualification"] = "Master of Teaching"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Management Science", "Highest Qualification"] = "Bachelor of Management Science"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Maters of Philosophy (Economics)", "Highest Qualification"] = "Master of Philosophy (Economics)"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Master's Degree in Public Relations and Press Office Management", "Highest Qualification"] = "Master of Public Relations and Press Office Management"
sis_faculty.loc[sis_faculty["Highest Qualification"] == "Masters (Business Administration), Master of Philosophy (Business)", "Highest Qualification"] = "Master of Business Administration, Business Philosophy"


Col_update=sis_faculty["Highest Qualification"]
Col_update.to_csv("Column_records_Updated.csv")


#sis_faculty.to_csv("renewed.csv")

In [5617]:
# 12. Major

#Solving for NullValues replace with Business Administration

sis_faculty.loc[sis_faculty["Major"] == 5, "Major"] = "Business Administration"


sis_faculty.loc[sis_faculty["Major"] == "Business Info. Technology", "Major"] = "Business Information Technology"
sis_faculty.loc[sis_faculty["Major"] == "eBusiness Policy Development", "Major"] = "Business Policy Development"
sis_faculty.loc[sis_faculty["Major"] == "Management", "Major"] = "Business Management"
sis_faculty.loc[sis_faculty["Major"] == "Business", "Major"] = "Business Management"
sis_faculty.loc[sis_faculty["Major"] == "Business Adm (General)", "Major"] = "Business General Administration"
sis_faculty.loc[sis_faculty["Major"] == "Intl Law and Intl Relations", "Major"] = "International Law and International Relations"
sis_faculty.loc[sis_faculty["Major"] == "HRM and Strategic Mgt", "Major"] = "Human Resource Management and Strategic Management"
sis_faculty.loc[sis_faculty["Major"] == "Managerial Economics/ Business Strategy", "Major"] = "Managerial Economics or Business Strategy"
sis_faculty.loc[sis_faculty["Major"] == "Oper. Resch. & Mgt. Info. Sys.", "Major"] = "Operation Research and Management Information System."
sis_faculty.loc[sis_faculty["Major"] == "Accounting & Finance", "Major"] = "Accounting and Finance"
sis_faculty.loc[sis_faculty["Major"] == "Leadership & Management", "Major"] = "Leadership and Management"
sis_faculty.loc[sis_faculty["Major"] == "Executive MBA", "Major"] = "Executive Business Administration"
sis_faculty.loc[sis_faculty["Major"] == "Commerce & Management Studies", "Major"] = "Commerce and Management Studies"
sis_faculty.loc[sis_faculty["Major"] == "Public Admin & Public Policy", "Major"] = "Public Admin and Public Policy"
sis_faculty.loc[sis_faculty["Major"] == "HRM/ Organizational Psychology", "Major"] = "Human Resource management or Organizational Psychology"
sis_faculty.loc[sis_faculty["Major"] == "Economics& Management", "Major"] = "Economics and Management"
sis_faculty.loc[sis_faculty["Major"] == "Commericial & Corporate Law", "Major"] = "Commericial and Corporate Law"
sis_faculty.loc[sis_faculty["Major"] == "HRM", "Major"] = "Human Resource Management"
sis_faculty.loc[sis_faculty["Major"] == "HRM and Organizational Behaviour ", "Major"] = "Human Resource and Organizational Behaviour "
sis_faculty.loc[sis_faculty["Major"] == "Integrtd Textile & Apparel Sci", "Major"] = "Integrated Textile and Apparel Science"
sis_faculty.loc[sis_faculty["Major"] == "Criminology & Criminal Justice", "Major"] = "Criminology and Criminal Justice"
sis_faculty.loc[sis_faculty["Major"] == "TESOL", "Major"] = "International Association"
sis_faculty.loc[sis_faculty["Major"] == "Business Adm (Hum Resources)", "Major"] = "Business Administration"
sis_faculty.loc[sis_faculty["Major"] == "Strategic Business & IT", "Major"] = "Strategic Business and Information Technology"
sis_faculty.loc[sis_faculty["Major"] == "Global Human Resource Mngt", "Major"] = "Global Human Resource Management"
sis_faculty.loc[sis_faculty["Major"] == "Advanced Info Systems & Mgt", "Major"] = "Advanced Info Systems and Management"
sis_faculty.loc[sis_faculty["Major"] == "Tourism Tourist & Hotel Mgt.", "Major"] = "Tourism Tourist and Hotel Management"
sis_faculty.loc[sis_faculty["Major"] == "Risk Management & FS Analysis", "Major"] = "Risk Management and Finding Solution Analysis"
sis_faculty.loc[sis_faculty["Major"] == "Management and Financial Mgt", "Major"] = "Management and Financial Management"


Col_update=sis_faculty["Major"]
Col_update.iloc[Col_update[106]=="Finance/ Economics",106]="Finance and Economics"
Col_update.iloc[Col_update[137]=="Tourism Tourist & Hotel Mgt.",137]="Tourism Tourist and Hotel Management"
Col_update.iloc[Col_update[169]=="Organisation Mgmt IT Mgmt",169]="Organisation Management Information Technology Management"
Col_update.to_csv("Column_records_Updated.csv")
Col_update.iloc[Col_update[11]=="Business Administration",11]="Finance and Economics"

#sis_faculty.to_csv("renewed.csv")

In [5618]:
# 13. University

#Solving for NullValues replace with Friedrich-Schiller-Univ Jena
sis_faculty["University"] = sis_faculty["University"].str.replace("Univ", "University")
sis_faculty.loc[sis_faculty["University"] == 5, "University"] = "Friedrich-Schiller-Univ Jena"
Col_update=sis_faculty["University"]

Col_update.iloc[Col_update[19]=="Friedrich-Schiller-Univ Jena",19]="CapePeninsula UnivofTechnology"
Col_update.iloc[Col_update[99]=="Friedrich-Schiller-Univ Jena",99]="CapePeninsula UnivofTechnology"
Col_update.iloc[Col_update[101]=="Friedrich-Schiller-Univ Jena",101]="CapePeninsula UnivofTechnology"
Col_update.iloc[Col_update[245]=="Friedrich-Schiller-Univ Jena",245]="London South Bank University"
Col_update.iloc[Col_update[244]=="E�tv�s Lor�nd University",244]="Eötvös Loránd University"
Col_update.iloc[Col_update[258]=="Friedrich-Schiller-Univ Jena",258]="University of Huddersfield"
Col_update.iloc[Col_update[241]=="�Maastricht School of Management",241]="Maastricht School of Management"
Col_update.iloc[Col_update[253]=="�Universitat Aut�noma de Barcelona",253]="Autònoma de Barcelona"
Col_update.iloc[Col_update[256]=="The Univ. of Western Australia",256]="The University of Western Australia"
Col_update.iloc[Col_update[242]=="Royal Melbourne Inst. of Tech",242]="Royal Melbourne Institute of Technology"
Col_update.iloc[Col_update[240]=="Univ of Southern Queensland",240]="University of Southern Queensland"

Col_update.iloc[Col_update[205]=="NelsonMandela Metropolitan Unv",205]="NelsonMandela Metropolitan University"
Col_update.iloc[Col_update[198]=="Arab Academy for Sci & Tech",198]="Arab Academy for Science and Technology"
Col_update.iloc[Col_update[187]=="University of Mumbai (Bombay)",187]="University of Mumbai"
Col_update.iloc[Col_update[178]=="Birla Institute of Tech & Sc.",178]="Birla Institute of Technology and science"
Col_update.iloc[Col_update[253]=="Univ of Southern Queensland",253]="University of Southern Queensland"
Col_update.iloc[Col_update[158]=="American Grad Sch of Intl Mgmt",158]="American Grad School of International Management"
Col_update.iloc[Col_update[54]=="International Islamic University< Malaysia",54]="International Islamic University, Malaysia"
Col_update.iloc[Col_update[277]=="�Universityersita' degli Studi di Ferrara",277]="Università degli Studi di Ferrara"


Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")

In [5619]:
# 14. Courses Taught- Term 201510

#Solving for NullValues replace with BUS3903 - Contemporary Business\nBUS1403 - Business Ethics and Corporate
sis_faculty["Courses Taught- Term 201510"] = sis_faculty["Courses Taught- Term 201510"].str.replace("Mgt", "Management")
sis_faculty["Courses Taught- Term 201510"] = sis_faculty["Courses Taught- Term 201510"].str.replace("Sc", "School")
sis_faculty["Courses Taught- Term 201510"] = sis_faculty["Courses Taught- Term 201510"].str.replace("Proj", "Project")
sis_faculty["Courses Taught- Term 201510"] = sis_faculty["Courses Taught- Term 201510"].str.replace("Admin", "Administration")
sis_faculty.loc[sis_faculty["Courses Taught- Term 201510"] == 5, "Courses Taught- Term 201510"] = "BUS3903 - Contemporary Business\nBUS1403 - Business Ethics and Corporate"
Col_update=sis_faculty["Courses Taught- Term 201510"]
Col_update.to_csv("Column_records_Updated.csv")

sis_faculty.to_csv("renewed.csv")

In [5620]:

# 15. MAJOR TEACHING FIELD

#Solving for NullValues replace with Business
sis_faculty.loc[sis_faculty["MAJOR TEACHING FIELD"] == 5, "MAJOR TEACHING FIELD"] = "Business"
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("�", "")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("HRM", "Human Resource Management")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("Mgt", "management")

sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("Management, Business Statistics", "Business Management or Statistics")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("General ManagementorEntrepreneurship", "General Management or Entrepreneurship")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace(";", " or")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("Management ,Strategy and Marketing", "Management or Strategy and Marketing")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace(",", " or")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("\"Business (Economics, Finance)\"", "Economics or Finance")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("\"Business (Management, Finance, Accounting)\"", "Management or Finance or Accounting")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("\"", "")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("  (in : General Business Admin)& Bachelor ( in:Economics)", "General Business Administration and Economics")




sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("and Career Related Courses", "")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("/", "or")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("AccountingorFinanceorManagement", "Accounting and Finance Management")

sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("General Business or Management", "General Business Management")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("Transport and Logistics or Business Administration orManagementorSoftware Applications and General Business", "Transport and Logistics or Business Administration Management or Software Applications and General Business")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("General BusinessorEntrepreneurship", "General Business or Entrepreneurship")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("Marketing , General Business ", "Marketing or General Business")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("EconomicsorManagementorMarketingorTourismorHospitality", "Economics or Management or Marketing or Tourism or Hospitality")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("Operations ManagementorManagement ScinecesorOR", "Operations Management or Management Scineces")

sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("Masters", "")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("Computing, Business", "Computing and Business")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("HR", "Human Resource")
sis_faculty["MAJOR TEACHING FIELD"] = sis_faculty["MAJOR TEACHING FIELD"].str.replace("OBorHuman Resourceor MKTorGeneral Management", "OBor Human Resource Or MOTor General Management")
sis_faculty.loc[sis_faculty["MAJOR TEACHING FIELD"]==" Masters (in : General Business Admin)and Bachelor ( in:Economics)","MAJOR TEACHING FIELD"]="General Business Administration and Economics"
sis_faculty.loc[sis_faculty["MAJOR TEACHING FIELD"]=="More than 5 years work experience","MAJOR TEACHING FIELD"]="Finances"
sis_faculty.loc[sis_faculty["MAJOR TEACHING FIELD"]=="Economics, policy and general business course","MAJOR TEACHING FIELD"]="Economics, policy and general business"
Col_update=sis_faculty["MAJOR TEACHING FIELD"]
Col_update.to_csv("Column_records_Updated.csv")

sis_faculty.to_csv("renewed.csv")

In [5621]:
# 8. Criteria

sis_faculty["Criteria"] = sis_faculty["Criteria"].str.replace("&","and")
sis_faculty["Criteria"] = sis_faculty["Criteria"].str.replace("/"," or ")


Col_update=sis_faculty["Criteria"]
Col_update.to_csv("Column_records_Updated.csv")


sis_faculty.to_csv("renewed.csv")